* {
    box-sizing: border-box;
    font-family: cursive;
}

.div-container {
    width: 1268px;
    height: 399px;
    border: hidden;
    position: relative;
    display: inline-block;
}

.div-container > div {
    display: inline-block;
    position: absolute;
}

#div1, #div4 {
    background-color: rgb(221, 72, 56);
}
#div2, #div3 {
    background-color: rgb(232, 76, 60);
}

.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 5px solid #FFFF00;
padding: 10px;
}




/* THE LEFT-TOP RECTANGLE */



#div1 {
    width: 634px;
    height: 202px;
    top: 0px;
    left: 0px;
}

#div1-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 30px;
    font-size: 11px;
    text-align: center;
    padding-top: 7px;
    color: white;
    /* left: 240px; */
    /* top: 82px; */
    background-color: rgb(232, 76, 60);

}

 @keyframes loading-lines {
    0% {
        width: 0px;
        background-color: transparent;
    }

    1% {
        width: 1.7px;
        background-color: white;
    }

    50% {
        width: 85px;
        background-color: white;
    }

    75% {
        width: 170px;
        background-color: white;
        opacity: 1;
   }

   100% {
       opacity: 0;
   }

 }
  
.div-container:hover .div1-up {
    position: absolute;
    top: 80px;
    left: 232px;
    height: 5px;
    width: 170px;
    background-color: transparent;
    
    
    animation-name: loading-lines;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */

}

.div-container:hover .div1-down {
    position: absolute;
    top: 116px;
    left: 232px;
    height: 5px;
    width: 170px;
    background-color: transparent;
        
    animation-name: loading-lines;
    animation-duration: 7.5s;
    animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    /* animation-timing-function: cubic-bezier(1, 1.3, 1.0, 0.1); */
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */  
}





/* THE RIGHT-TOP RECTANGLE */


#div2 {
    width: 634px;
    height: 202px;
    top: 0px;
    right: 0px;
}

#div2-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 30px;
    font-size: 11px;
    text-align: center;
    padding-top: 7px;
    color: white;
    background-color: rgb(239, 113, 97);  
    z-index: 10;

}

#div2-2-ghost {
    position: absolute;
    left: 232px;
    top: 86px;
    width: 170px;
    height: 30px;
    font-size: 11px;
    padding-top: 7px;
    color: white;
    background-color: rgb(239, 113, 97);  
    z-index: 1;
}

@keyframes div2-2-ghost-bg-color {
   0% {
        width: 0px;
        background-color: rgb(239, 113, 97);  
   }

   1% {
        width: 1.7px;
        background-color: white;  
   }

   50% {
        width: 85px;
        background-color: white;  
   }

   70% {
        width: 170px;
        background-color: white;
        opacity: 1;
   }
  
   100% {
         
        opacity: 0;
   }
}

.div-container:hover #div2-2-ghost {
    position: absolute;
    left: 232px;
    top: 86px;
    width: 170px;
    height: 30px;
    font-size: 11px;
    text-align: left;
    padding-top: 7px;
    color: white;
    background-color: rgb(239, 113, 97);  
    z-index: 11;


    animation-name: div2-2-ghost-bg-color;
    animation-duration: 7.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    /* animation-timing-function: cubic-bezier(0.8, 0.5, 0.3, 0.4); */
    /* animation-delay: 1s; */
}





/* THE LEFT-BOTTOM RECTANGLE */


#div3 {
    width: 634px;
    height: 202px;
    bottom: 0px;
    left: 0px;
}

.ball-container {
    position: absolute;
    /* width: 85px;
    height: 15px;
    left: 279.5px;
    bottom: 88px; */
} 

.ball-container > div {
    display: inline-block;
}

.left-ball {
    position: absolute;
    /* left: 255px;
    top: 95px; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(246, 165, 157);

}

.middle-ball {
    position: fixed;
    left: 300px;
    top: 379px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;

}

.right-ball {
    position: absolute;
    /* left: 329px;
    top: 95px; */
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(246, 165, 157);
}

.moving-balls {
    position: absolute;
    left: 260px;
    top: 95px;
    height: 15px;
    width: 79px;
    background-color: transparent;
}

@keyframes ball-rotation {


    50% {
        transform: rotate(.5turn);
    }

    100% {
        transform: rotate(.5turn);
    }
   
}

.div-container:hover #div3 .ball-container > .moving-balls {
    position: absolute;
    left: 260px;
    top: 95px;
    height: 15px;
    width: 80px;
    background-color: transparent;

    animation-name: ball-rotation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    /* animation-delay: 1s; */
}





/* THE RIGHT-BOTTOM RECTANGLE */


#div4 {
    width: 634px;
    height: 202px;
    bottom: 0px;
    right: 0px;
}


.square {
    position: absolute;
    left: 297px;
    top: 81px;
    width: 40px;
    height: 40px;
    background-color: rgb(227, 109, 97);
}

.square-ghost {
    position: absolute;
    left: 297px;
    top: 81px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.square-ball {
    position: absolute;
    left: 287px;
    top: 71px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

@keyframes square-ball {
    
    25% {
        top: 71px;
        left: 337px;
    }

    50% {
        top: 121px;
        left: 337px; 
    }

    75% {
        top: 121px;
        left: 287px;
    }

    100% {
        top: 71px;
        left: 287px;
    }    
}

.div-container:hover #div4 > .square-ball {
    position: absolute;
    left: 287px;
    top: 71px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;

    animation-name: square-ball;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes square-ghost {
   0% {
        width: 0px;
        background-color: rgb(239, 113, 97);  
   }

   1% {
        width: 0.4px;
        background-color: white;  
   }

   40% {
        width: 20px;
        background-color: white;  
   }

   70% {
        width: 40px;
        background-color: white;
        opacity: 1;
   }
  
   100% {
        opacity: 0;
   }
}

.div-container:hover #div4 > .square-ghost {
    position: absolute;
    left: 297px;
    top: 81px;
    width: 40px;
    height: 40px;
    background-color: transparent;


    animation-name: square-ghost;
    animation-duration: 7.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


/* THAT'S ALL FOLKS */